<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)='Additem(f)' #f='ngForm'>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" ngModel name='itemname' required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input class="form-control" id="amount" type="number" ngModel name='itemamount' required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid" >{{ editmode ? 'update' : 'add'}}</button>
          <button class="btn btn-danger" type="button" (click)='onRemove()' *ngIf='editmode'>Delete</button>
          <button class="btn btn-primary" type="button" (click)='onClear()'>Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
